/* 
html{
  font-size:16px;
} */


body {
  font-size: 24px;
}
@media (min-width: 376px) {
  body {
    font-size: 24px;
  }
  .inner-body{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top:0;
    margin-bottom:0;
  }
}




/* Desktop */
body {
  margin:0;
  background-color: #2A2A2A;
color: #B0BEC5;
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.home-logo{
  height:100%;
}

.light-mode-basic{
  background: #ffffff;
  color: #000000;
}

.dark-mode-midnight{
  background: #1A1A2E;
  color: #F1F1F1;
}

.dark-mode-classic{
  background-color: #121212;
color: #E0E0E0;
}

.dark-mode-charcoal{
  background-color: #333333;
color: #B5B5B5;
}

.dark-mode-deep-space{
  background-color: #0A0A0A;
color: #A0A0A0;
}

.dark-mode-slate{
  background-color: #2A2A2A;
color: #B0BEC5;
}

.dark-mode-elegant{
  background-color: #212121;
color: #E4E4E4;
}







#inner_body_header {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  position: sticky;
  height:7vh;
}

.save-button{
  height:100%;
  aspect-ratio:1;
  opacity:0.25;
}

.home-page-item{
  margin-left:5%;
}

.home-button-spacer{
  color:#ffffff00;
  height:100%;
  aspect-ratio:1;
}

#inner_body_header_link {
  flex-grow: 1; 
  text-align: center;
  margin: 0;
}



.search-box{
  width: 100%;
}

.hidden{
  display:none;
}



.scrollable-verses-parent {
    height: 93vh;
    width: 100%;
    overflow-y: scroll; /* Allow vertical scrolling */
    scroll-snap-type: y mandatory; /* Enable scroll snapping in the vertical direction */
    -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
    scroll-behavior: auto;
  }

  .scrollable-verse, .next-topic, .see-also, .load-next-topic {
    height: 100%;
    width: 95%; /* Adjust to your desired image size */
    scroll-snap-align: start; /* Ensure images align at the start when snapped */
    object-fit: cover; /* Optional: To make images fit the container without stretching */
    margin-left:2.5%;
  }
  
  .verse-title {
    font-weight: bold;
    padding-top:5%;
  }

  .verse-content{
    height:70%;
    overflow-y:scroll;
  }

  a {
    text-decoration: unset;
    color: unset;
}


.verse-section-title{
  font-size:12px;
  font-style:italic;
  margin-left:5%;
}

.inner-body-header{
  text-align: center;
}





/* hide the scrollbar*/
#scrollable_verses_parent::-webkit-scrollbar {
  display: none; 
}

#scrollable_verses_parent {
  scrollbar-width: none;  
}

.verse-content::-webkit-scrollbar {
  display: none; 
}

.verse-content {
  scrollbar-width: none;  
}

















/* Fonts */

.roboto-thin {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", serif;
  font-weight: 900;
  font-style: italic;
}



.open-sans-small {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}